.banner
  background url(../images/banner.jpg)
  background-size cover
  height 441px

  &__outer
    text-align center
    height 441px
    &:before
      content ''
      display inline-block
      height 100%
      vertical-align middle
  &__inner
    display inline-block
    vertical-align middle

.text-one
.text-two
  background secondaryColor1
  border 8px solid secondaryColor1
  color secondaryColor2
  display inline-block
  font fontHeavy 31px/1 fontArray
  margin 1px 0 0 0
  vertical-align middle