.header
  border-top solid 5px primaryColor
  clearfix()

.logo
  color secondaryColor1
  float left
  width 300px
  &__site-name
    display inline-block
    font fontHeavy 19px/1 fontArray
    padding 23px 0 0 0
  &__site-caption
    font fontLight 15px/1 fontArray

.icon-logo
  display inline-block
  float left
  margin 24px 10px 24px 25px

.menu
  float right
  &__list
    list-style none
    margin 0
    li
      float left
    a
      color secondaryColor1
      display inline-block
      font fontNormal 13px/1 fontArray
      padding 34px 20px 33px
      text-decoration none
      text-transform uppercase
    a:hover
      background primaryColor
      color secondaryColor2