.row2
  background secondaryColor1
  clearfix()

  &__icon
    margin 0 60px 0 0
    float left
    position relative

    &--phone
      left 230px
      position absolute
      top 30px
      z-index 1

    &--tablet
      left 60px
      position absolute
      z-index 2

  &__title
    color secondaryColor2
    font fontBold 24px/1 fontArray
    margin 60px 0 0 390px

  &__caption
    color secondaryColor2
    font fontLight 20px/1 fontArray
    margin 2px 0 0 390px

  &__description
    color primaryColor
    font fontNormal 15px/22px fontArray
    margin 20px 0 0 390px
    padding 0 60px 0 0

  &__btn
    background secondaryColor2
    border-radius 5px
    color secondaryColor1
    display inline-block
    font fontBold 16px/1 fontArray
    margin 30px 0 60px 390px
    padding 13px 13px 10px
    text-decoration none