.row1
  background secondaryColor2
  clearfix()

  &__icon
    margin 40px
    float left

  &__title
    color secondaryColor1
    font fontBold 24px/1 fontArray
    margin 40px 0 0 0

  &__caption
    color primaryColor
    font fontLight 20px/1 fontArray
    margin 2px 0 0 0

  &__description
    color #978489
    font fontNormal 15px/22px fontArray
    margin 20px 0 0 0
    padding 0 60px 0

  &__btn
    background primaryColor
    border-radius 5px
    color secondaryColor2
    display inline-block
    font fontBold 16px/1 fontArray
    margin 25px 0 60px
    padding 13px 13px 10px
    text-decoration none

  &__left
    border-right 1px solid #e2e2df
    float left
    width 49%
  &__right
    float right
    width 49%