body
  include section/_header.jade
  include section/_banner.jade
  include section/_main.jade
  include section/_row1.jade
  include section/_row2.jade
  include section/_row3.jade
  include section/_footer.jade