primaryColor = #fdbd1f
secondaryColor1 = #ab6f80
secondaryColor2 = #fff

fontLight = 300
fontNormal = 400
fontBold = 700
fontHeavy = 900
fontSize = 16
fontArray = 'Source Sans Pro', Arial, sans-serif

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both
