@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro\:300,400,700,900);

@media screen and (min-width: 1170px)
  .wrapper
    margin 0 auto
    width 1170px

@import '_var.styl'
@import 'section/_header.styl'
@import 'section/_banner.styl'
@import 'section/_main.styl'
@import 'section/_row1.styl'
@import 'section/_row2.styl'
@import 'section/_row3.styl'
@import 'section/_footer.styl'
