include _var.jade
doctype html
html
  include _head.jade
  include _body.jade
  script(src="https://code.jquery.com/jquery-1.9.1.min.js")
  script(src="js/carousel.js")
  script $('.carousel').carousel()
