primaryColor = #fdbd1f
secondaryColor1 = #ab6f80
secondaryColor2 = #fff

fontArray = 'Source Sans Pro', Arial, sans-serif
fontLigth = 300
fontNormal = 400
fontBold = 700
fontHeavy = 900

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both