div.main
  div.wrapper
    div.main__title Morbi interdum mollis sapien edac risus
    div.main__description Integer vitae libero ac risus egestas placerat lectus arcu pulvinar risus <br> vitae facilisis libero dolor a purus
    div.main__outer
      div.main__inner
        a(href="#").main__btn Lorem Ipsum
        a(href="#").main__btn Vivamus sin