div.row1
  div.wrapper
    div.row1__left
      div(class=['row1__icon', 'icon-rocket'])
      div.row1__title Jorem ipsum
      div.row1__caption Cestibulum auctor dapibus neque
      div.row1__description Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam am dui mi, tincidunt quis, accumsan porttitor, facilisis
      a(href="#").row1__btn More...
    div.row1__right
      div(class=['row1__icon', 'icon-micro'])
      div.row1__title Cras ornare tris
      div.row1__caption Integer vitae libero ac risus egestas
      div.row1__description Laoreet in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam am dui mi, tincidunt quis, accumsan porttitor, facilisis
      a(href="#").row1__btn More...