footer.footer
  div.wrapper Copyright(c) #{siteName}. Designed by: <a href="www.alltemplateneeds.com"> www.alltemplateneeds.com</a> / Images from: <a href="www.wallpaperswide.com">www.wallpaperswide.com</a>, <a href="www.photorack.net">www.photorack.net</a>