div.row2
  div.wrapper
    div.row2__icon
      img(src="images/tablet.png").row2__icon--tablet
      img(src="images/phone.png").row2__icon--phone
    div.row2__title Vivamus vestibulum nulla nec ante
    div.row2__caption Cestibulum auctor dapibus neque lobortis lorem at ipsum semper sagittis.
    div.row2__description Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam am dui mi, tincidunt quis, accumsan porttitor, facilisis bi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. ed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem.
    a(href="#").row2__btn More...